#home-header{
    background: url(../img/layouts/top-bg.jpg) no-repeat center;
    background-size: cover;
}
#home-header .title{
    margin-bottom: 3rem;
    font-size: 4rem;
}
#home-header .subtitle{
    font-size: 1rem;
}
#home-header.is-small .title{
    font-size: 2rem;
}
.blog-list{
    margin-bottom: 50px;
}
.blog-list li{
    padding: 1.5rem 0;
    border-bottom: 1px solid #eee;
}
.blog-list li h2{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.blog-list h2 a{
    color: #404040;
    transition: color .2s;
    -webkit-transition: color .2s;
}
.blog-list h2 a:hover{
    color: #0085a1;
}
.blog-list li .desc{
    font-size: 1rem;
    color: #a3a3a3;
    line-height: 1.5;
    margin-bottom: 10px;
}
.blog-list li .date{
    font-family: Lora,'Times New Roman',serif;
    color: #ccc;
    font-style: italic;
}
.article-main{
    padding: 30px;
}
.article-main ol li{
    margin-bottom: 1.2rem;
}